name: hello-world t
on: push
jobs:
  my-jobs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: my-step1
        run: |
           echo "${{secrets.TOPACTIOS}}" | docker login -u "santosch" --password-stdin
           docker image build -t santosch/topactios:v${{ github.run_number }} .
           docker push santosch/topactios:v${{ github.run_number }}
